.pinWrapper{
    height: 100vh;
    background-color: #36373d;
    font-size: 2rem;
    color: white;
    z-index: -1;
    width: min-content;
    overflow-y: scroll;
    padding: 0 1rem;
}

@media (max-width: 450px) {
    .pinWrapper{
        width: 100%;
    }

    .coordinateForm input{
        width: 100%;
    }

}