.pinWrapper{
    height: 100vh;
    background-color: #36373d;
    font-size: 2rem;
    color: white;
    z-index: -1;
    width: min-content;
    overflow-y: scroll;
    padding: 0 1rem;
}

.pinTip{
    margin: 1rem 0;
}

.pinTip p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.pinTip p:first-child{
    font-weight: 400;
    width: min-content;
    font-size: 1.05rem;
    border-bottom: 2px solid white;
}

.validLat{
    padding-top: 0.3rem;
}

.validLon{
    padding-bottom: 0.3rem;
}

.tip02{
    padding-bottom: 0.3rem;
}

.highLight{
    color: #8ab4f8;
}

@media (max-width: 450px) {
    .pinWrapper{
        width: 100%;
    }

    .coordinateForm input{
        width: 100%;
    }

}