.infoTab{
    background-color: #36373d;
    position: fixed;
    top: 0;
    right: 0;
    max-height: 450px;
    max-width: 300px;
    z-index: -2;
    overflow-y: scroll;
}

.noWikiInfo{
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Archivo', sans-serif;
}

@media (max-width: 450px) {
    .infoTab{
        max-width: 200px;
        max-height: 300px;
    }

}

@media (max-height: 450px) {
    .infoTab{
        max-width: 200px;
        max-height: 300px;
    }

}