.searchTab{
    height: 100vh;
    background-color: #36373d;
    z-index: -1;
    width: min-content;
    overflow-y: scroll;
}

.searchForm{
    display: flex;
    /* background-color: blue; */
    margin: 1rem;
    color: white;
    border: 1px solid white;
    border-radius: .5rem;
    overflow-x: hidden;
}

.searchForm input{
    border-radius: .5rem;
    border: none;
    color: white;
    padding: 1rem;
    background-color: #36373d;
    box-shadow: none;
    outline: none;
    font-size: 1.1rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;

}

.searchForm button{
    padding-right: 0px;
    cursor: pointer;
    background: none;
    background-color: white;
    border: none;
    padding: 0.5rem;
    border-left: 1px solid white;
    color: #36373d;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
}

.searchForm button:hover{
    color: white;
    background: none;
    transition: all 0.3s ease-in-out
}

.searchCardsContainer{
    display: flex;
    flex-direction: column;
}

.searchError{
    padding: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Archivo', sans-serif;

}

@media (max-width: 450px) {
    .searchTab{
        width: 100%;
    }

    .searchForm input{
        width: 100%;
    }
}

@media (max-width: 300px) {
    .searchForm input{
        font-size: 1rem;
    }

    .searchForm button{
        font-size: 1rem;
    }
}