.search-card{
    color: white;
    display: inline-block;
    overflow-x: hidden;
    text-align: start;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.search-card:hover{
    background-color: grey;
    transition: all 0.3s ease-in-out;
}

.search-card p{
    font-size: 0.9rem;
    font-weight: 300;
}

.place-name{
    font-weight: 500;
    font-size: 1.1rem;
}

.place-lat{
    padding-top: 0.25rem;
}

.place-lon{
    padding: 0.10rem 0;
}